body{
    background: rgb(231, 231, 231);
}

h1 {
    margin:0;
}

.underline{
    width: 100%;
    border-bottom: solid 0.1rem;
    margin-top: 1rem;
}

.floatClass{
    display: flex;
    float: left;
}

@media (max-width: 767.95px){
    .container{
        width: 350px;
    }
}

.form-group{
    width: 90%;
}

.btn{
    padding: 15px 32px;
    border-radius: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.footerTop{
    width: 100%;
    height: 10px;
    background:#24a3b8;
    margin: 0;
}

.footerBottom{
    width: 100%;
    height: 50px;
    background:rgb(143, 143, 143);
    margin: 0;
}

.copyright{
    padding-top: 0.6rem;
}